body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #333;
    text-decoration: none;
}

.hero {
    background-image: linear-gradient(to bottom, #fff, #f0f0f0);
    padding: 100px;
    text-align: center;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.about-us {
    padding: 50px;
}

.about-us h2 {
    margin-top: 0;
}

.about-us p {
    margin-bottom: 20px;
}

.about-us img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

.mission {
    background-color: #f7f7f7;
    padding: 50px;
}

.mission h2 {
    margin-top: 0;
}

.mission p {
    margin-bottom: 20px;
}

.testimonials {
    padding: 50px;
}

.testimonials h2 {
    margin-top: 0;
}

.testimonials blockquote {
    margin-bottom: 20px;
    padding: 20px;
    border-left: 5px solid #ccc;
}

.testimonials cite {
    font-size: 14px;
    color:green
}
