 *
 {
    text-align: center;
 }
 h1 {
    color: white;
    text-align: center;
    background-color: black;
    height: 100px;
    padding-top: 10px;
}
.choice:hover {
    cursor: pointer;
    background-color: #081b31;
    transition: 1s;
  }
  
  img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
  }
  .choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.score-board
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem ;
    margin-top: 2rem;
    gap: 3rem;
}
@media(max-width:499px)
{
    .choice
{
    height: 130px;
    width: 130px;
    display: flex;
    justify-content: center;
    flex-direction:row !important;
}
img {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    transition: 1s;
}

img:hover {
    height: 100px;
    width: 100px;
    transition: 1s;

}
h1
{
    color: white;
    text-align: center;
    background-color: black;
    height: 70px;
    padding-top: 10px;
    font-size: 13px;
}
}
@media(max-width:321px)
{
    .choice
{
    height: 110px;
    width: 110px;
    display: flex;
    justify-content: center;
    flex-direction:row !important;
}
img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    transition: 1s;
}

img:hover {
    height: 90px;
    width: 90px;
    transition: 1s;
}
}
#user-score, #comp-score
{
    font-size: 4rem;
}
.msg-container
{
    margin-top: 3.5rem;
}
#msg {
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
  }
 .suleman
 {
    font-size: 15px;
    padding-bottom:10px ;
 }